.app{
  color: white;
}

.MuiSvgIcon-root{
  color: aliceblue !important;
}

a{
  text-decoration: none;
}

.MuiTypography-root{
  color: aliceblue !important;
}

main{
  background-image: linear-gradient(to right top, #020202, #04020d, #050115, #07011b, #080121, #080122, #080222, #080223, #08031e, #07031a, #060415, #05040f);
}

.MuiBottomNavigation-root{
  background-image: linear-gradient(to right top, #020202, #04020d, #050115, #07011b, #080121, #080122, #080222, #080223, #08031e, #07031a, #060415, #05040f);

}

.MuiToolbar-root{
  background-image: linear-gradient(to right top, #020202, #04020d, #050115, #07011b, #080121, #080122, #080222, #080223, #08031e, #07031a, #060415, #05040f);
}